body {
    margin: 0;
    font-family: "Palatino Linotype", Palatino, serif;
    background: linear-gradient(180deg, #ececec, #c6c6c6);
    color: #333;
}

/* ===== HEADER ===== */
header {
    background: #002e5a;
    padding: 10px 20px;
}

.nav {
    display: flex;
    align-items: center;
}

.logo-img {
    height: 60px;
}

/* ===== HERO ===== */
.hero {
    background: white;
    padding: 40px 0;
    text-align: center;
}

.hero h1 {
    margin: 0;
    font-size: 48px;
    color: #002e5a;
}

/* ===== LAYOUT ===== */
.container {
    padding: 30px;
}

.content {
    background: white;
    border-radius: 10px;
    overflow: hidden;
}

/* ===== TEXT ===== */
.intro {
    padding: 20px;
}

/* ===== HEADER NAD TABELĄ ===== */
.table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.table-header h3 {
    margin: 0;
}

/* ===== INPUT ===== */
#searchInput {
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
}

#searchInput:focus {
    border-color: #002e5a;
}

/* ===== TABELA ===== */
table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background: #002e5a;
    color: white;
    padding: 14px;
    text-align: left;
}

td {
    padding: 14px;
    border-bottom: 1px solid #eee;
}

/* zebra */
tbody tr:nth-child(even) {
    background: #ececec;
}

/* hover */
tbody tr:hover {
    background: #002e5a;
    color: white;
}

/* ===== FOOTER ===== */
footer {
    background: #002e5a;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}
